.popular-coins-block {
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.popular-coin-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
