* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: 'flex';
    align-items: 'center';
    position: 'sticky';
    top: 0;
    z-index: 1;
    width: '100%';
}

.menu {
    flex: 1;
    min-width: 0;
}

.bread-crumb {
    margin: '16px 0';
}

.footer {
    text-align: 'center';
}

h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    color: red;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-r-10 {
    margin-right: 10px;
}

.price {
    color: aqua;
    font-weight: 800;
    margin-left: 5px;
}
